---
title: About Publicum
order: 1
---

%h1 About Publicum
%p Publicum aims to create new open source movies, with money collected out of donations and benefits of earlier made movies.
%h2 Open source
%p Open source is the act of sharing a creation, no matter in what form and stage, to the public. The purpose of it is to gain collective feedback and the ability to collaborate and improve the initial creation.
%h2 Applying it to movies
%p Developing an movie this way, can be done either by open sourcing the development process, or by sharing the end result.
%p Possibilities with open sourcing the development process, is to collaborate in an early stage. Writers could rewrite the script before it gets shot, for example.
%p If only the end result is shared, much of the editing can be re-done by anyone. This is a great benefit for educational and home-use purposes.
%h2 The end result
%p Will be thre collective of all assets, such as the scripts, reels, designs for costumes and decors and the original music. Of course the end result will also be shared, all in a way that anyone can enjoy it for free. The assets can also be remixed to a new product, which has to be shared under the same conditions.
%h2 Benefits of open source
%p A lot of people have ideas for something creative. To craft it, and make it a reality, takes a lot of effort. By sharing the idea in a community, to collectively achieve a great end result, more people can enjoy the production.
%p For educational purposes it is great to have more material to go investigate during the learning process.