---
title: How to participate
order: 2
---

%h1 How to participate
%h2 Donate
%p Soon the possibility to donate money to the foundation will be shared here. You can <a href="http://eepurl.com/L6AQX">sign up for the newsletter</a> to get updates about the ability to donate.
%h2 Become founder and board member 
%p First of all, we need a board. So if you are eather a writer, producer or a director, and you are motivated to join forces to change the film industry, <a href="/contact">get in touch</a>.
%h2 Make movies
%p Writers, directors, producers, editors, light and sound engineers, actors, composers: get in touch by <a href="http://eepurl.com/L6FMv">subscribing to the movie makers newsletter</a>.