---
title: Current projects
order: 3
---

%h1 Current projects
%h2 Gepasseerd film
%p This short is written in Dutch and will be shot in Dutch, as an example of how Publicum sees open source movies. It is possible to participate at this stage, on writing together on <a href="https://github.com/publicum/gepasseerd-film">the script at GitHub</a>.
%h2 Amsterdam Bicycles
%p A documentary-short about bicycles in Amsterdam, from the perspective of an American. The documentary is in editing phase and will be release shortly.