!!! 5
%html{ :lang => 'en' }
  %head
    / https://secure.flickr.com/photos/31878512@N06/4941767047/sizes/o/
    %meta{ :charset => 'utf-8' }
    %title Publicum Films
    %meta{ :name => 'viewport', :content => 'width=device-width,initial-scale=1,maximum-scale=2,minimum-scale=1' }
    %link{ :rel => 'stylesheet', :media => 'screen,projection', :href => '/css/screen.css' }
    %script (function(q,u,e,r,i,o,s){q['QuerioObject']=r;q[r]=function(){(q[r].q||(q[r].q=[])).push({a:arguments,t:+new Date});};q[r].t=+new Date;q[r].k=i;s=u.createElement(e);s.asynch=s.src='http://querio.irrvy.com/querio/que.js';o=u.getElementsByTagName(e)[0];o.parentNode.insertBefore(s,o);})(window,document,'script','que','1a0591f5ef3e0c0e530bc7e0e8e39383');

  %body.homepage
    .wrapper
      %header
        %h1
          %a{ :href => '/' } Publicum Films

      %nav
        %ul
          - menu.each do |item|
            %li
              %a{ :href => item.identifier }= item.attributes[:title]

      %main
        %article
          = yield